h2{
    color: brown;
font-size: 30px;


}

h1{

background-color: bisque;/*pinta fondo*/
text-align: center;/*alinear fondo*/

}

.Destacado{
color: rgb(141, 205, 134);
font-weight: bold;
font-style: italic;



}


#caja{


    background-color: brown;
    width: 350px;
    height: 100px;
}