h2{
    color: brown;
font-size: 30px;


}

h1{

background-color: bisque;/*pinta fondo*/
text-align: center;/*alinear fondo*/

}

.Destacado{
color: rgb(117, 176, 110);
font-weight: bold;
font-style: italic;



}


#caja{


    background-color: rgb(164, 31, 31);
    width: 350px;
    height: 100px;
}